{% extends "datacoll/header.html" %}

{% block content %}
<h3>Explosibility values for the next {{ lastday }} days</h3>
Enter date in mm/dd/yy format
<br>
<br>

<form action="" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" name="predictbutton" value="Predict" /> 
</form>
<br>
<br>

<table style="width:100%">
<tr style="vertical-align:middle">
	{% for datasett in date_list %}
	<td>
		   {{ datasett }}
	</td>
	{% endfor %}
</tr>

<tr style="vertical-align:bottom">
	{% for datasett in explos_list %}
	<td>
		   {% if datasett == 0 %} Not explosive {% endif %}
		   {% if datasett == 1 %} Potentially explosive if mixed with air {% endif %}
		   {% if datasett == 2 %} Potentially explosive if  mixed with combustible gases{% endif %}
		   {% if datasett == 3 %} Explosive {% endif %}
		   {% if datasett == 4 %} Impossible Mixture {% endif %}
		   {% if datasett == 5 %} Unidentified {% endif %}
	</td>
	{% endfor %}
</tr>
</table>
{% endblock %}